<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @country.name %>
</p>

<p>
  <b>Point:</b>
  <%= @country.point %>
</p>

<p>
  <b>Binary_Data:</b>
  <%= @country.binary_data %>
</p>

<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
